@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import "all.css";
@import "reset.css";
@import "flexboxgrid.min.css";
@import "swiper.min.css";
@import "../fonts/stylesheet.css";


ul{padding: 0;margin: 0;}
h1{margin: 0;font-size: 60px;font-weight: 400;color: #414141;}
h2{margin: 0;font-size: 48px;font-weight: 400;color: #414141;}
h3{margin: 0;font-size: 38px;font-weight: 400;color: #414141;}
h4{margin: 0;font-size: 30px;font-weight: 400;color: #414141;}
h5{margin: 0;font-size: 28px;font-weight: 400;color: #414141;}
h6{margin: 0;font-size: 24px;font-weight: 400;color: #414141;}
h1, h2, h3, h4, h5, h6{position: relative;}


a{display: inline-block;cursor: pointer;text-decoration: none;transition: all 0.2s ease;}
a:hover{text-decoration: none;transition: all 0.3s ease;}
a, a:hover, a:active, input[type="button"], input[type="button"]:hover, input[type="button"]:active, input[type="submit"], input[type="submit"]:hover, input[type="submit"]:active, button, button:hover, button:active{outline: 0;/*border: 0 none;*/text-decoration: none;transition: all 0.3s ease;}
.spacer10{height: 10px;width: 100%; display: block}
.spacer15{height: 15px;width: 100%; display: block}
.spacer20{height: 20px;width: 100%; display: block}
.spacer25{height: 25px;width: 100%; display: block}

.fl-left{float: left;}
.fl-right{float: right;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.inline-lists, .block-lists{list-style-type: none;padding: 0;margin: 0;}
.inline-lists li{display: inline-block;vertical-align: middle;}
.block-lists li{display: block;vertical-align: middle;}
.innerpadding{padding: 115px 0;width: 100%;}

.uppercase{text-transform: uppercase;}
.capitalise{text-transform: capitalize;}
.block{display: block;}
.in-block{display: inline-block;}

main {position: relative;}
.wrap {box-sizing: border-box;max-width: 74.5vw;margin: 0 auto;}
.outer{padding: 0 2vw;}
.clear{margin: 0;clear: both;float: none;padding: 0;}


.hide-all{display: none;}
/*GLOBAL CLASS OF SWIPER SLIDER*/
.swiper-container {width: 100%;height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;background: var(--white);display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
/*END OF SWIPER SLIDER CSS*/


.header-desktop {background-color: transparent; position: fixed; width: 100%; display: block; padding: 10px 0; left: 0; right: 0; top: 0;z-index: 1000;}
.header-desktop .flex-box {display: flex; align-items: center; justify-content: space-between; width: 100%; position: relative; }
.header-desktop .flex-box .flex-item{}
.header-desktop .navigations{position: relative;display: block;width: 100%;}
.header-desktop .navigations a {display: block; color: #ffffff; position: relative; text-transform: uppercase; font-size: 13px; font-weight: 500;padding: 0 13px;}
.header-desktop .navigations a:not(.ac_quick)::after{content: ""; position: absolute; background: #F89500; -webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0); transition: -webkit-transform .3s cubic-bezier(.4,0,0,1); transition: transform .3s cubic-bezier(.4,0,0,1); transition: transform .3s cubic-bezier(.4,0,0,1),-webkit-transform .3s cubic-bezier(.4,0,0,1); -webkit-transform-origin: center right; -ms-transform-origin: center right; transform-origin: center right; left: 13px; right: 13px; bottom: -6px; height: 2px; z-index: 1;}
.header-desktop .navigations a:not(.ac_quick):hover::after{-webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); -webkit-transform-origin: center left; -ms-transform-origin: center left; transform-origin: center left; z-index: 1;}
.header-desktop .navigations a:not(.ac_quick):hover{color: #F89500;}
.header-desktop .brand-logo{position: relative;display: block;overflow: hidden;}
.header-desktop .brand-logo .logo-inner{display: block;height: 60px;overflow: hidden;position: relative;}
.header-desktop .brand-logo img{display: table;width: auto;height: 100%;margin: 0 auto;vertical-align: middle;object-fit: contain;}
.header-desktop .navigations a.ac_quick {background: #F89500; padding: 12px 24px; border-radius: 2000px; outline: 0; border: 0 none;position: relative;display: block;}

.header-mobile{display: none;z-index: 1000;}
.header-mobile {background-color: transparent; width: 100%; padding: 10px 0; position: fixed; left: 0; right: 0; top: 0; }
.header-mobile .flex-box {display: flex; width: 100%; position: relative; justify-content: space-between; align-items: center; }
.header-mobile .hamburger{position: relative;display: block;z-index: 20;}
.header-mobile .hamburger img:nth-of-type(2) {display: none;}
.header-mobile .brand-logo{position: relative;display: block;overflow: hidden;}
.header-mobile .brand-logo .logo-inner{display: block;height: 60px;overflow: hidden;position: relative;}
.header-mobile .brand-logo img{display: table;width: auto;height: 100%;margin: 0 auto;vertical-align: middle;object-fit: contain;}
.header-mobile .dropover {position: absolute; left: 0; right: 0; top: 40px;display: none;}
.activemobilenav .header-mobile .dropover{display: block;}
.header-mobile .dropover .padding-box{    padding-top: 40px;}
.header-mobile .dropover-inner{position: relative;width: 100%;display: block;background: #ffffff;}
.header-mobile .dropover-inner .m-navigations li{display: block;position: relative;}
.header-mobile .dropover-inner .m-navigations li a{padding: 14px 20px;display: block;border-bottom: 1px solid rgba(0,0,0, 0.1);color: #414141;text-transform: uppercase;letter-spacing: 0.25px;transition: none;}
.header-mobile .dropover-inner .m-navigations li a:hover{background-color: #f3f3f3;}
.header-mobile .flex-item.customer-portal-button{position: absolute;right: 40px;}
.header-mobile .flex-item.customer-portal-button .ac_quick {background: #F89500; padding: 7px 16px; border-radius: 2000px; outline: 0; border: 0 none; position: relative; display: block; color: #ffffff; font-size: 12px; letter-spacing: normal;}
.activemobilenav .header-mobile .hamburger img:nth-of-type(2){display: block;}
.activemobilenav .header-mobile .hamburger img:nth-of-type(1){display: none;}
.activemobilenav .header-mobile{background: #414141;}
body{padding-top: 80px;letter-spacing: normal;}

header.fixed-header-visible{background: #414141;}


.homePageBanner{margin-top: -80px;position: relative;width: 100%;height: 44vw;}
.homePageBanner .swiper-slide{background-color: transparent;}
.homePageBanner .bg {background-repeat: no-repeat; background-position: center center; background-size: cover; background-attachment: scroll; width: 100%; padding: 20%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.homePageBanner .swiper-pagination {width: auto; right: 40px; left: inherit; top: 0; bottom: 0; display: flex; align-items: center; flex-direction: column; justify-content: center;}
.homePageBanner .swiper-pagination .swiper-pagination-bullet {display: block; margin: 0 auto 8px auto; width: 14px; height: 14px; background: #414141; opacity: 1;}
.homePageBanner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {width: 20px; height: 20px; background: #ffffff;}
.homePageBanner .caption {position: relative; left: 0; right: 0; text-align: left;z-index: 5;padding-top: 150px;padding-bottom: 100px;}
.homePageBanner .caption h1{font-weight: bold;color: #ffffff;margin-bottom: 90px;max-height: 210px;overflow: hidden;}
.homePageBanner .caption .ac-action {background: #F89500; padding: 10px 32px 14px 38px; border-radius: 2000px; outline: 0; border: 0 none; position: relative; display: block; color: #ffffff; letter-spacing: normal; text-transform: uppercase; font-size: 16px; font-weight: 500; border: 1.5px solid; outline: 0; }
.homePageBanner .caption .ac-action::before {content: none; background: url(../images/button-arrow.png) no-repeat scroll 0 0 transparent; width: 44px; height: 23px; position: absolute; display: block; background-size: cover; left: -20px; top: 11px;}
.homePageBanner .caption .button-container a:not(.ac-action) {color: #ffffff;padding-left: 20px;font-weight: 500;}
.homePageBanner .caption .row.nomr{margin: 0;}
.homePageBanner .caption .button-container{padding-left: 22px;}

.services-section{position: relative;width: 100%;display: block; background: rgb(220,220,220); background: -moz-linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 100%); background: -webkit-linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 100%); background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dcdcdc",endColorstr="#ffffff",GradientType=1);}
.services-section .row div[class*="col-"]{padding: 0;margin: 0 0 0 -1px;}
.services-section .box{position: relative;display: block;width: 100%;}
.services-section .box .bg{background-repeat: no-repeat; background-position: center center; background-size: cover; background-attachment: scroll; width: 100%; padding: 80% 0%; position: relative; left: 0; right: 0; top: 0; bottom: 0;}
.services-section .box .mask-overlay {position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 5; background: #000000; display: block; width: 100%; height: 100%; opacity: 0.54;}
.services-section .box .mask-caption {position: absolute; left: 0; right: 0; bottom: 0; z-index: 10; padding: 30px 30px;transition: all 0.2s ease;}
.services-section .box .title{color: #ffffff;font-weight: 600;font-size: 22px;transition: all 0.2s ease;}
.services-section .box .ac-action {background: #F89500; padding: 10px 32px 14px 38px; border-radius: 2000px; position: absolute; display: inline-block; color: #ffffff; letter-spacing: normal; text-transform: uppercase; font-size: 16px; font-weight: 500; border: 1.5px solid; outline: 0; margin-left: 15px; opacity: 0; visibility: hidden; transform: translateY(100%);}
.services-section .box .ac-action::before {content: ""; background: url(../images/button-arrow-small.png) no-repeat scroll 0 0 transparent; width: 38px; height: 21px; position: absolute; display: block; background-size: cover; left: -16px; top: 13px;}
.services-section .box:hover .ac-action{opacity: 1; visibility: visible; transform: translateY(0);}
.services-section .box:hover .mask-caption{bottom: 50px;}
.services-section .box:hover .title{margin-bottom: 20px;}

.whyaty-section{position: relative;width: 100%;display: block;}
.image-blocks{position: relative;width: 100%;display: block;}
.image-blocks .image-container{position: relative;overflow: hidden;display: block;}
.image-blocks .image-container .image-inner{max-height: 532px;position: relative;overflow: hidden;display: block;}
.image-blocks .image-container img{display: table;width: auto;height: 100%;margin: 0 auto;vertical-align: middle;object-fit: contain;}
.image-blocks .v-center{align-items: center;}
.image-blocks .sub-title{font-size: 32px;color: #959595;font-weight: 400;}
.image-blocks .title{font-size: 48px;color: #414141;font-weight: 500;}
.image-blocks .contents-wrap p{font-size: 16px;color: #414141;font-weight: 400;}
.image-blocks .contents-wrap{padding-right: 120px;}
.image-blocks.col-reverse .contents-wrap{padding-left: 120px;padding-right: 0;}
.image-blocks .innerpadding{padding-top: 0;}

.latest-news{position: relative;width: 100%;display: block;background: #F6F6F6;}
.latest-news .section-title{text-align: center;font-weight: 500;margin-bottom: 40px;}
.latest-news .box {width: 100%; background: #ffffff; font-size: 15px; text-align: left; position: relative; display: block; border-radius: 4px; padding: 26px 26px;}
.latest-news .box .title-xs{}
.latest-news .box .news-title, .latest-news .box .date{display: inline-block;vertical-align: middle;padding-right: 8px;position: relative;padding-top: 2px;}
.latest-news .box .news-title{color: #414141;font-weight: 400;padding-left: 44px;}
.latest-news .box .date{color: #AEAEAE;font-weight: 400;}
.latest-news .box .news-title::before {content: ""; background: url(../images/news-icon.png) no-repeat scroll 0 0 transparent; width: 33px; height: 30px; position: absolute; left: 0; top: 0;}
.latest-news .box .news-title-lg {color: #414141;font-size: 20px; font-weight: 600; margin-top: 28px; padding-bottom: 12px; height: 68px; overflow: hidden; text-overflow: ellipsis; white-space: pre-wrap;}
.latest-news .box .tags{position: relative;margin-top: 20px;}
.latest-news .box .tags a{color: #F89500;padding: 0 5px;}
.latest-news #newsCarousel{padding-bottom: 50px;}
.latest-news #newsCarousel .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color: #414141;}
.latest-news .box .readmore{margin-top: 18px;color: #F89500;text-decoration: underline;}

.testimonials{position: relative;width: 100%;display: block;}
.testimonials .section-title{text-align: center;font-weight: 500;margin-bottom: 40px;}
.testimonials .box{position: relative;width: 100%;display: block;width: 62%;}
.testimonials .box p{font-size: 18px;font-weight: 400;}
.testimonials .author span{display: block;}
.testimonials .author span.name{font-size: 18px;color: #f89500;}
.testimonials .author span.designation{font-size: 15px;color: #f89500;}
.testimonials #testimonialsCarousel{padding-bottom: 50px;}
.testimonials #testimonialsCarousel .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color: #414141;}

.partners{position: relative;width: 100%;display: block;}
.partners .section-title{text-align: center;font-weight: 500;margin-bottom: 40px;}
.partners .innerpadding{padding-top: 0;}
.partners .partners-logos{position: relative;overflow: hidden;display: block;}
.partners .partners-logos .inner-logos {height: 90px;position: relative;overflow: hidden;display: block;}
.partners .partners-logos img{display: table;width: auto;height: 100%;margin: 0 auto;vertical-align: middle;object-fit: contain;}

.footer{background: #414141;position: relative;width: 100%;}
.footer .row.nomr{margin: 0;}
.footer .widget-title {font-size: 22px; font-weight: 500; color: #ffffff; display: block; margin-bottom: 20px;}
.footer li a {font-size: 16px; color: #ffffff; display: block; font-weight: 400; padding: 6px 0;position: relative;}
.footer li a:hover{color: #F89500;}
.footer .social-links a::before{content: ""; width: 47px; height: 47px; position: absolute; display: block; left: 0; top: 0;}
.footer .social-links a.fb::before{background: url('../images/facebook_icon.png') no-repeat scroll 0 0 transparent;}
.footer .social-links a.tw::before{background: url('../images/twitter_icon.png') no-repeat scroll 0 0 transparent;}
.footer .social-links a.in::before{background: url('../images/linkedin.png') no-repeat scroll 0 0 transparent;}
.footer .social-links a {padding-left: 62px;padding-top: 12px;padding-bottom: 16px;}
.footer .cprght {display: block; width: 100%; text-align: center; color: #ffffff; padding: 30px 0 0 0; margin-top: 30px; border-top: 1px solid rgba(255,255,255, 0.18);}

.innerPage .new-header-desktop,
.innerPage .header-mobile {
	background-color: #414141;
}
.about-section-1{background: #F6F6F6;position: relative;display: block;width: 100%;}

.s-title .section-title {text-align: center; font-weight: 500; margin-bottom: 10px;}
.s-title .sub-title {max-width: 50%; margin: 0 auto; text-align: center; margin-bottom: 30px; font-weight: 400; font-size: 16px;}
.about-section-1 .grid-cols{display: flex;justify-content: space-around;flex-direction: row;flex-wrap: wrap;width: 100%;}
.about-section-1 .col-item{display: flex;flex-shrink: 0;-webkit-box-align: center;align-items: center;width: 300px;padding-top: 60px;flex-direction: column;}
.about-section-1 .col-item .col-title{color: #414141;font-weight: 700;font-size: 18px;letter-spacing: .01em;margin: 14px 0 0 0;}
.about-section-1 .col-item p {color: #141414; font-weight: 400; font-size: 16px; text-align: center;}
.about-section-1 .col-item .ac-action {background: #F89500; padding: 12px 24px; border-radius: 2000px; outline: 0; border: 0 none; position: relative; display: block; color: #FFFFFF; font-weight: 500;}
.about-section-2 .section-title{text-align: left;}
.about-section-2 .phone-nu {font-weight: 600; color: #141414; font-size: 16px; margin-top: 30px;}
.about-section-2 .call-timings {font-size: 12px; font-weight: 400;}
.about-section-2 .email-id {font-weight: 600; color: #141414; font-size: 16px; margin-top: 30px;}
.about-section-2 .mini-social{margin-left: -6px;margin-top: 24px;}
.about-section-2 .mini-social li a {font-size: 32px; padding: 0 6px; color: #474747;}
.about-section-2 .row{max-width: 80%;margin: 0 auto;}
.about-section-2 .box {max-width: 410px; float: right; min-width: 410px; position: relative; margin-bottom: 20px; padding-left: 120px; }
.about-section-2 .box .bx-contents a {font-weight: 600; color: #474747; font-size: 20px; text-decoration: underline; }
.about-section-2 .box .bx-contents p {color: #141414; font-weight: 400; font-size: 16px; margin-top: 6px; }
.about-section-2 .box .icon {width: 80px; height: 80px; position: absolute; left: 0; top: 10px; }
.about-section-2.bg{background: #F6F6F6;position: relative;display: block;width: 100%;}
.about-section-2 .map{width: 100%;height: 400px;}
.about-section-3 .box{min-width: 100%;max-width: 100%;padding-left: 0;}

.uaf-wrapper .wrap{padding: 4% 0;}
.uaf-wrapper .uaf-form {min-width: 400px; max-width: 400px; margin: 0 auto; border: 1px solid rgba(0,0,0,0.09); padding: 22px 24px 18px 24px; border-radius: 4px; position: relative;}
.uaf-wrapper .uaf-form .tab {display: flex; align-items: center; position: relative; width: 100%;}
.uaf-wrapper .uaf-form .tab-link {flex-basis: 50%; max-width: 50%; border-bottom: 1px solid #dee0e2; padding: 4px 0 12px 0; text-align: center; font-size: 18px; position: relative; color: #9da3a8; font-weight: 400; }
.uaf-wrapper .uaf-form .tab-link.active{color: #5d6770; border-color: #5d6770; font-weight: 400;}
.uaf-wrapper .uaf-form .tab-content{display: none;padding: 32px 0 0 0;position: relative;}
.uaf-wrapper .uaf-form .tab-content.active{display: block;}
.uaf-wrapper .uaf-form .form-horizontal{position: relative;display: block;width: 100%;}
.uaf-wrapper .uaf-form .form--group {border: 1px solid #c8c8c8; padding: 10px 16px 14px 64px; border-radius: 4px; margin-bottom: 12px; position: relative; display: block; width: 100%;}
.uaf-wrapper .uaf-form .form--group .form--control {width: 100%; display: block; outline: none; border: 0 none; background: transparent; font-size: 16px; font-weight: 400;}
.uaf-wrapper .uaf-form .form--group .icon {font-size: 16px; position: absolute; background: #f1f1f1; padding: 0; left: 0; top: 0; bottom: 0; border-radius: 4px 0 0 4px; width: 50px; display: flex; align-items: center; color: #878787; justify-content: center;}
.uaf-wrapper .uaf-form .forgot-password {display: block; text-align: center; color: #2d2d2d; font-weight: 500; margin-top: 20px; margin-bottom: 30px; text-decoration: underline; outline: 0;}
.uaf-wrapper .uaf-form .smbt-button {background-color: #0077ff; width: 100%; border: 0 none; box-shadow: none; padding: 22px 20px; font-size: 18px; font-weight: 500; color: #ffffff; border-radius: 0px 0px 4px 4px;}




@media(min-width: 1024px){
.homePageBanner .swiper-pagination{top: 50%;}
}/*END OF 1600*/
@media(max-width: 1440px){
	.wrap {max-width: 1200px;}
	.homePageBanner .caption h1{font-size: 48px;}
	
}/*END OF 1440*/
@media(max-width: 1366px){}/*END OF 1366*/
@media(max-width: 1350px){}/*END OF 1350*/
@media(max-width: 1280px){}/*END OF 1280*/
@media(max-width: 1200px){
	.testimonials .box{width: 100%;}
}/*END OF 1200*/
@media(max-width: 1170px){}/*END OF 1170*/
@media(max-width: 1024px){}/*END OF 1024*/
@media(max-width: 980px){
	.innerpadding{padding: 26px 0;}
	.homePageBanner .bg{position: relative;}
	.homePageBanner{height: auto;}
	.homePageBanner .caption{padding-top: 20px;width: 100%;background: #414141;padding-bottom: 22px;}
	.homePageBanner .swiper-slide{flex-direction: column-reverse;justify-content: flex-start;align-items: flex-start;}
	.homePageBanner .caption h1{color: #ffffff;font-size: 28px;margin-bottom: 22px;}
	.homePageBanner .caption .button-container a:not(.ac-action){color: #ffffff;}
	.homePageBanner .swiper-pagination{bottom: inherit;top: 36%;}
	.services-section .box{margin-bottom: 2rem;}
	.services-section .row div[class*="col-"]{padding-right: 1rem;padding-left: 1rem;margin: 0 0 0 0;}

	.image-blocks .v-center{flex-direction: column-reverse;}
	.image-blocks.col-reverse .v-center div[class*="col-"]:nth-of-type(1){order: 2;}
	.image-blocks.col-reverse .v-center div[class*="col-"]:nth-of-type(2){order: 1;}
	.image-blocks .contents-wrap, .image-blocks.col-reverse .contents-wrap{text-align: center;padding: 30px 0;}
	.image-blocks .v-center{align-items: flex-start;}
	.image-blocks .image-container img{height: auto;}
	.image-blocks .sub-title{font-size: 26px;}
	.image-blocks .title{font-size: 34px;}

	.about-section-2 .box{max-width: 100%;min-width: 100%;}
}/*END OF 980*/
@media(max-width: 768px){
	.header-desktop{display: none;}
	.header-mobile{display: block;}

	.services-section .box .bg{padding: 60% 0%;}
}/*END OF 768*/
@media(max-width: 767px){
	h1{font-size: 36px;}
	h2{font-size: 32px;}
	h3{font-size: 30px;}
	h4{font-size: 28px;}
	h5{font-size: 24px;}
	h6{font-size: 20px;}

	.partners .partners-logos .inner-logos{height: auto;}
	.partners .partners-logos{margin-top: -50px;}
	.footer .row.nomr div[class*="col-"]{margin-bottom: 30px;}
	.footer .row.nomr div[class*="col-"]:last-child{margin-bottom: 0;}

	.about-section-2 .row > div[class*="col-"]:nth-of-type(1){margin-bottom: 30px;}
	
}/*END OF 767*/
@media(max-width: 630px){
	.homePageBanner .caption h1{font-size: 20px;}
	.homePageBanner .caption .ac-action{padding: 6px 27px 10px 34px;font-size: 14px;}
	.homePageBanner .caption .ac-action::before{width: 36px;height: 19px;left: -11px;top: 8px;}
	.homePageBanner .caption .button-container a:not(.ac-action){padding-left: 12px;font-size: 14px;}
	.homePageBanner .caption .button-container{padding-left: 14px;}

	.about-section-1 .sub-title{max-width: 100%;}

}/*END OF 630*/
@media(max-width: 560px){
	.homePageBanner .swiper-pagination{display: none;}

	.about-section-2 .box .icon {display: block;position: relative;margin: 0 auto 22px auto;}
	.about-section-2 .box{padding-left: 0;}
	.about-section-2 .box .bx-contents{text-align: center;}

	.uaf-wrapper .uaf-form{min-width: 100%;max-width: 100%;}

}/*END OF 560*/
@media(max-width: 480px){

}/*END OF 480*/

@media(max-width: 479px){
}/*END OF 479*/
@media(max-width: 360px){

}/*END OF 360*/



.homePageBanner .bg-img1{
	background-image: url('images/slide-1.png');
}
.homePageBanner .bg-img2{
	background-image: url('images/cloud-computing.jpg');
}


.homePageBanner .bg-img3{
	background-image: url('images/slide-2.jpg');
}


.homePageBanner .bg-img4{
	background-image: url('images/slide-3.jpg');
}


.services-section .box .bg-img3{
	background-image: url('images/box-img-1.png');
}

.services-section .box .bg-img4{
	background-image: url('images/box-img-2.png');
}

.services-section .box .bg-img5{
	background-image: url('images/box-img-3.png');
}

.services-section .box .bg-img6{
	background-image: url('images/box-img-4.png');
}

.comm-soon{
	height: 200px;
    padding: 50px;
}





